.Start{
    width: 100%;
    height: 800px;
    margin-top: 7%;
}

.start_h1{
    text-align: center;
}

.start_h3{
    text-align: center;
    
}

.start_main_blocks{
    width: 90%;
    height: 75%;
    margin: 0 6%;
    justify-content: space-evenly;
    display: flex;
}

.start_block1{
    margin-top: 2%;
    width: 25%;
    height: 70%;
    border: 2px solid red;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(to right,rgb(88, 11, 11), rgb(100, 83, 44));
    box-shadow: 0px 4px 20px -5px rgb(167, 1, 1);
    transition-duration: 0.7s;
}
.start_block1_h3{
    font-size: 32px;
    color: white;
}


.start_block2{
    width: 28%;
    height: 37%;
    border: 2px solid red;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(to right,rgb(88, 11, 11), rgb(100, 83, 44));
    box-shadow: 0px 4px 20px -5px rgb(167, 1, 1);
    transition-duration: 0.7s;
}
.start_block3{
    width: 28%;
    height: 40%;
    border: 2px solid red;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(to right,rgb(88, 11, 11), rgb(100, 83, 44));
    box-shadow: 0px 4px 20px -5px rgb(167, 1, 1);
    transition-duration: 0.7s;
}

.start_block4{
    width:30%;
    height: 30%;
    border: 2px solid red;
    margin-left: 35%;
    margin-top: -27%;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(to right,rgb(88, 11, 11), rgb(100, 83, 44));
    box-shadow: 0px 4px 20px -5px rgb(167, 1, 1);
    transition-duration: 0.7s;
}

.start_address{
    margin-top: 4%;
    text-align: center;
    
}

.start_block1_p{
    color: white;
}

@media(max-width:1500px){
    .start_block4{
        margin-top: -20%;
    }
}
@media(max-width:1400px){
    .start_block4{
        margin-top: -25%;
    }
}


@media(max-width:1200px){
    .Start{
        height: 700px;
    }
    .start_h1{
        font-size: 28px;
    }
    .start_block1_h3{
        font-size: 28px;
    }
    .start_block1_p{
        font-size: smaller;
    }
    .start_address{
        font-size: 22px;
    }
    
}
@media(max-width:992px){
    .Start{
        height: 600px;
    }
    .start_h1{
        font-size: 22px;
    }
    .start_block1_h3{
        font-size: 22px;
    }
    .start_block1_p{
        font-size: x-small;
    }
    .start_address{
        font-size: 18px;
    }
    
}
@media(max-width:767px){
    .Start{
        height: 500px;
    }
    .start_h1{
        font-size: 18px;
    }
    .start_block1_h3{
        font-size: 20px;
    }
    .start_block1_p{
        font-size: xx-small;
    }
    .start_address{
        font-size: 15px;
    }
}



@media(max-width:430px){
    .Start{
        height:max-content;
    }
    .start_h1{
        font-size: 18px;
    }
    .start_block1_h3{
        font-size: 16px;
    }
    .start_main_blocks{
        flex-wrap: wrap;
        
    }
    .start_block1{
        width: 80%;
        height: 50%;
        margin-bottom: 5%;
    }
    .start_block2{
        width: 80%;
        height: 50%;
        margin-bottom: 5%;
    }
    .start_block3{
        width: 80%;
        height: 50%;
        margin-bottom: 5%;
    }
    .start_block4{
        margin: 0 auto;
        margin-bottom: 5%;
        width: 72%;
        height: 50%;
    }
    .start_block1_p{
        font-size: small;
    }
}
@media(max-width:374px){
    .Start{
        height:max-content;
    }
    .start_h1{
        font-size: 16px;
    }
    .start_block1_h3{
        font-size: 14px;
    }
    .start_main_blocks{
        flex-wrap: wrap;
        
    }
    .start_block1{
        width: 80%;
        height: 50%;
        margin-bottom: 5%;
    }
    .start_block2{
        width: 80%;
        height: 50%;
        margin-bottom: 5%;
    }
    .start_block3{
        width: 80%;
        height: 50%;
        margin-bottom: 5%;
    }
    .start_block4{
        margin: 0 auto;
        margin-bottom: 5%;
        width: 72%;
        height: 50%;
    }
    .start_block1_p{
        font-size: small;
    }
    .start_address{
        font-size: 10px;
    }
}