.Why{
    margin-left: 6%;
    margin-right: 6%;
    height: 500px;
    text-align: center;
    
    
}



.why_h1{
    font-size: 30px;
    text-align: center;
    margin-top: 8%;
}

.why_tittle{
    margin-top: 6%;
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    
}

.why_comfort{
    display: flex;
   
}

.why_comfort2{
    display: flex;
}
.why_comfort3{
    
    display: flex;
}

.why_tittle2{
    margin-top: 6%;
    width: 100%;
    justify-content: space-around;
    display: flex;
}

.why_comfort_h3{
    font-size: medium;
}

.why_comfort_p{
    font-size:smaller;
   padding-left: 10px;
}


.why_comfort_img4{
    margin-top: 17px;
   
}
.why_comfort_img{
    width: 20%;
}
.why_comfort_img2{
    margin-top: 10px;
    width: 20%;
}
.why_comfort_img3{
    width: 20%;
}


@media(max-width:1200px) {
   
}
@media(max-width:992px) {
    .Why{
        height: 400px;
    }
    .why_h1{
        font-size: 24px;
    }
    
}
@media(max-width:767px) {
    .why_h1{
        font-size: 22px;
    }
}


@media(max-width:430px) {
    .Why{
        height:max-content ;
    }
    .why_tittle{
        flex-wrap: wrap;
    }
    .why_tittle2{
        flex-wrap: wrap;
    }
    .why_comfort{
        width: 100%;
        margin-bottom: 4%;
    }
    .why_comfort2{
        width: 100%;
        margin-bottom: 4%;
    }
    .why_h1{
        font-size: 18px;
    }
    .why_comfort_img2{
        
        width: 30px;
        width:70px;
    }
    .why_comfort_img3{
        
        width: 50px;
        height: 70px;
    }
    .why_comfort_img{
        width: 60px;
        height: 70px;
    }
    .why_comfort_img4{
    
       width: 50px;
       height: 70px;
    }
    .why_comfort_p{
        font-size: x-small;
    }
    .why_comfort_h3{
        font-size: small;
    }
}


