<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body class="container">

<header>
</header>

<main>
<div>
    <form method="post" >
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Введите пароль: </label>
            <input name="password" type="text" class="form-control" id="inputEmail4" placeholder="password">
          </div>
        </div>
        <input type="submit" value="Вход">
    </form>
</div>
<br/>
</main>

<footer>
    <p class="text-center text-muted">© Copyright 2022 @web_flutter</p>
</footer>

</body>
</html>