<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body { padding-top:50px; }
    </style>
</head>
<body class="container">

<header>
</header>

<main>
    <p><%= answer %></p>
<br/>
<a href="http://localhost:5000/admin">Вернуться</a>
</main>

<footer>
    <p class="text-center text-muted">© Copyright 2022 @web_flutter</p>
</footer>

</body>
</html>