.Service{
    margin-top: 5%;   
    margin-left: 12%;
    margin-right: 12%;
    
}

.Service_h1{
    font-style: italic;
    font-size: 42px;
    color: rgb(35, 1, 49);
    text-align: center;
    text-shadow: 0 5px 5px rgba(250, 216, 95, 1);
    margin-bottom: 5%;
}

.Service_main{
    
    width: 100%;
    height: 300px;
    display: flex;
    background: linear-gradient(to left,rgb(248, 213, 149), rgb(197, 103, 86));
    border-radius: 20px;
}

.Service_menu_blocks{
    
    
    width: 34%;
    transition-duration: 1s;
    box-shadow:  5px 5px 5px #ad0900;
    border-radius: 20px;
    
   
}
.Service_menu_blocks:hover{
    top: 2px;
    box-shadow: 0 5px 0px #3c354a;
    background-color: rgba(250, 216, 95, 1);
    color: rgb(144, 18, 148);
}

.Service_menu_img{
    padding-top: 3%;
    width: 85%;
    height: 220px;
    border-radius: 20px;
    margin-left: 8%;
    filter:drop-shadow(5);
}

.Service_menu_h5{
    font-style:normal;
    font-size: 28px;
    margin-top: 4%;
    text-align: center;
    
}





@media(max-width:1199px) {
    .Service_h1{
        font-size: 38px;
    }
    .Service_main{
        height: 280px;
    }
    .Service_menu_img{
        height: 200px;
    }
    .Service_menu_h5{
        font-size: 28px;
    }
    
}
@media(max-width:992px) {
    .Service_h1{
        font-size: 32px;
    }
    .Service_main{
        height: 240px;
    }
    .Service_menu_img{
        height: 180px;
    }
    .Service_menu_h5{
        font-size: 24px;
    }
    
}
@media(max-width:767px) {
    .Service_h1{
        font-size: 26px;
    }
    .Service_main{
        height: 200px;
    }
    .Service_menu_img{
        height: 120px;
    }
    .Service_menu_h5{
        font-size: 20px;
    }
}


@media(max-width:430px) {
    .Service_h1{
        font-size: 26px;
    }
    .Service_main{
        flex-wrap: wrap;
        height: 180px;
        height: max-content;
    }

    .Service_menu_blocks{
        width: 100%;
        height: 200px;
    }
    .Service_menu_img{
        height: 150px;
        width: 80%;
    }
    .Service_menu_h5{
        font-size: 20px;
    }
}