.Review{
   width: 100%;
   height: max-content;
   margin-top: 2%;
    
    border-radius: 20px;
    
}

.Review_h1{
    margin-top: 6%;
    margin-bottom: 3%;
    text-align: center;
    text-shadow: 0 2px 2px #790303;
    height: 10%;
    font-style: italic;
}



.Review_slider{
    
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    
}

.Review_slider_block1{
    width: 36%;

}

.Review_slider_block2{
    width: 36%;
   
   
}

.Review_arousel_item{
    height: 480px;
    border: 5px solid #790303;
}

.Review_d-block{
    width: 100%;
  height: 100%;
}










.Review_photo{
    display: flex;
    justify-content: space-evenly;
    margin: 2% 8%;
    height: 30%;
}

.Review_photo_block1{
    width: 24%;
    height: 100%;
    border: 5px solid #ae0202;
   
}

.Review_photo_block1_img1{
    width: 100%;
    height: 100%;
}

.Review_photo_block2{
    width: 24%;
    margin-top: 5%;
    height: 100%;
    border: 5px solid #ae0202;
}

@media(max-width:1199px) {
    .Review{
        height: max-content;

    }
    .Review_arousel_item{
        height: 420px;
    }
    
}
@media(max-width:991px) {
     .Review{
        height: max-content;
    }
    .Review_arousel_item{
        height: 380px;
    }
    .Review_h1{
        font-size: 36px;
        margin-bottom: 2%;
    }
    
}
@media(max-width:768px) {
    .Review{
        height: max-content;
    }
    .Review_arousel_item{
        height: 320px;
    }
    .Review_h1{
        font-size: 30px;
    }
}


@media(max-width:430px) {
    .Review{
        height: max-content;
        
    }
    .Review_h1{
        font-size: 30px;
        margin-bottom: 4%;
    }
    .Review_arousel_item{
        height: 380px;
    }
    .Review_slider{
        flex-wrap: wrap;
    }
    .Review_slider_block1{
        width: 68%;
        margin-bottom: 2%;
    }
     .Review_slider_block2{
        width: 68%;
    }
    .Review_photo{
        flex-wrap: wrap;
    }
    .Review_photo_block1{
        width: 65%;
        
    }
    .Review_photo_block2{
        width: 65%;
        margin-bottom: 10px;
    }
   
}

