.List{
    width: 100%;
height: max-content;
}

.h1{
    margin-top: 5%;
    text-align: center;
}
.list_main{
    height:74% ;
    margin: 5% 10%;
    display: flex;
    border: 3px solid red;
    background: linear-gradient(to left,rgb(81, 7, 7), rgb(121, 100, 66));
    border-radius: 30px
}

.list_photo{
    margin: 1%;
    width: 40%;
    

}
.list_photo_img{
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.list_tittle{
    margin: 2%;
    width: 60%;
    color: white;
}
.list_tittle_h3{
    font-size: 22px
}

.list_second{
    margin: 5% 10%;
    border: 3px solid red;
    background: linear-gradient(to right,rgb(88, 11, 11), rgb(100, 83, 44));
    border-radius: 30px
}

.list_second_p{
    color: white;
    margin: 2%;
}

.list_prise{
    margin: 5% 10%;
    border: 3px solid red;
    background: linear-gradient(to right,rgb(88, 11, 11), rgb(100, 83, 44)); 
    border-radius: 30px
}


.list_prise_h4{
    color: white;
    margin: 2%;
    font-style:initial;
    font-size: 18px;
}


@media(max-width:1200px){

}
@media(max-width:992px){
   .h1{
       font-size: 22px;
   }
   .list_tittle_h3{
    font-size: 14px;
    }
    .list_tittle_p{
        font-size: 12px;
    }
    .list_second_p{
        font-size: 12px;
    }
    .list_prise_h4{
        font-size: 12px
    }
}
@media(max-width:767px){
    .h1{
        font-size: 18px;
    }
    .list_tittle_h3{
     font-size: 12px;
     }
     .list_tittle_p{
         font-size: 10px;
     }
     .list_second_p{
         font-size: 10px;
     }
     .list_prise_h4{
         font-size: 10px
     }
}
@media(max-width:430px){
   .list_main{
       flex-wrap: wrap;
   }
   .list_photo{
       width: 100%;
       height: 260px;
   }
   .list_tittle{
       width: 100%;
   }
}
@media(max-width:374px){
   
}